<nav class="sidebar">
    <div class="brand">
        <i class="fas fa-koala"></i> <span class="brand-text">&nbsp; Koalla</span>
    </div>
    <ul class="menu" id="sidebar-menu">
        <li><a href="dashboard.html" class="menu-item" data-page="dashboard"><i class="fas fa-home"></i> <span class="menu-item-text">Dashboard</span></a></li>
        <li><a href="clientes.html" class="menu-item" data-page="clientes"><i class="fas fa-users"></i> <span class="menu-item-text">Clientes</span></a></li>
        <li><a href="servidores.html" class="menu-item" data-page="servidores"><i class="fas fa-server"></i> <span class="menu-item-text">Servidores</span></a></li>
        <li><a href="aplicativos.html" class="menu-item" data-page="aplicativos"><i class="fas fa-mobile-alt"></i> <span class="menu-item-text">Aplicativos</span></a></li>
    </ul>
</nav>